// COLORS
$primary-color: #55c57a;
$secondary-color: #7ed56f;
$terninary-color: #28b485;

$black-color: #000;
$white-color: #fff;

$dark-grey-1: #777;
$dark-grey-2: #999;
$dark-grey-3: #333;
$dark-grey: #333333;

$grey-light-1: #f7f7f7;
$grey-light-2: #eee;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;

// Declare Grid variable
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
